<div class="component trickle-button-component trickle-full-width ">
    <div class="trickle-button-inner component-inner locking notify-complete-button">
        <button class="button">
            <span class="notify-complete-text">{{{_notifyOnComplete.text}}}</span>
            <span class="notify-complete-instruction">{{{_notifyOnComplete.instruction}}}</span>
        </button>
    </div>
</div>